/*
** ------------- GENERAL -------------
*/ 

@font-face
{
    font-family: 'Raleway';
    src: url('resources/fonts/Raleway/Raleway-VariableFont_wght.ttf') format("truetype");;
    font-weight: 100 1000;
    font-stretch: normal;
    font-style: normal;
}

body {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex: 1 1 0;
}

h1:hover, h2:hover, h3:hover {
    cursor: default;
}

h2 {
    font-size: 1em;
}

h3 {
    font-size: 0.7em;
}

.light {
    font-weight: 300;
}

.bold {
    font-weight: 800;
}

.blue {
    color: #0065fc;
}

img {
  max-width:400px;
  max-height:150px;
  width: auto;
  height: auto;
}

/*
** ------------- HEADER -------------
*/ 

/* #body_header {
    display: flex;
    justify-content: space-between;
    height: 10%;
    width:90%;
} */

#menu {
    display: flex;
    flex-direction: column-reverse;
}

#list_header {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

.fifty-fifty {
    width: 50%;
}

#register {
    position: absolute;
    right: 5%;
    top: 10px;
}

#register h2 {
    color:#0065fc;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #0065fc;
    cursor: pointer;
}

#menu li {
    text-align: center;
}

#menu ul li {
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

#menu ul li:hover {
    border-bottom: medium solid #0065fc;
}

#menu ul li a:hover {
    color: #0065fc;
}

/*
** ------------- DESCRIPTION -------------
*/

#description  {
    line-height: 100%;
    width: 100%;
}


/*
** ------------- RECHERCHE -------------
*/

#research_section {
    width: 100%;
}

#research {
    display:flex;
    width: 90%;
}

#search_town {
    border-style:solid;
    border-color: #f2f2f2;
    border-width: thin;
    font-size: medium;
    width:30%;
}

#localisation {
    background-color: #f2f2f2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 30px;
    padding: 3px;
    padding-top: 8px;
}

#localisation * {
    margin-left: 10px;
}

#research button {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #0065fc;
    color: white;
    font-weight: bold;
    border: none;
    padding: 5px;
}

/*
** ------------- FILTRES ------------- enlever les float et remplacer par flex direction : row;
*/ 


#filters {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 2% 0 0 0;
    font-weight: bold;
    font-size: medium;
}
.filter {
    display: flex;
    flex-direction: row;

    justify-content: center;
    margin-left: 1%;
    border: solid;
    border-color: #f2f2f2;
    border-radius: 35px;
}

.filter:hover {
    cursor: grab;
    background-color: #f2f2f2;
}

.filter_icon {
    display: flex;
    align-items: center;
    background-color: #DEEBFF;
    max-width: 35%;
    border: transparent;
    border-color: #f2f2f2;
    border-radius: 50%;
    padding: 10px;

}

.filter_text {
    margin-left: 3px;
    padding: 2px 5px 2px 5px;

}

/*
** ------------- INFOS -------------
*/ 

#information {
    padding-top: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.reverse {
    border: transparent;
    border-radius: 50%;
    background-color: #0065fc;
    color: white;
    margin-right: 10px;
}

/*
** ------------- MAIN SECTION -------------
*/ 

#main_section {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 70%;
    align-items: stretch;
}

#lodging, #most_popular {
    display: flex;
    width: 100%;
    background-color: #f2f2f2;
    border-radius: 10px;
    flex-direction: column;
    margin-top: 3%;

}

.section_header {
    align-self: center;
}

#lodging_list, #popular_list {
    list-style-position: outside;
    list-style-type: none;
    padding-inline-start: 0px;
    margin-block-start: 0;
    margin-block-end: 0;
}

#lodging_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#lodging li {
    width: 31%;
    
}

.lodging_suggestion {
    flex: 1;
    display: flex;
    flex-direction: column;
    border: transparent;
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 1px 5px grey;
    margin: 3%;
    height: auto;
}

.lodging_suggestion:hover {
    cursor: grab;
}

.lodging_description {
    margin-left: 15px;
}

.lodging_price {
    margin-top: -15px;
    margin-left: 15px;
}

.ratings {
    margin-top: -8px;

    margin-left: 10px;
    padding: 0 5px 5px 5px;
    color: #0065fc;
}

.lodging_image {
    align-self: center;
    border: transparent;
    border-radius: 20px 20px 0 0;
    width: 98%;
    height: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 1%;
}

#afficher_plus, #popular_title {
    align-self: center;
}

#populars_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:90%;
}

.icon {
    display: flex;
    align-items: center;
}

.popular {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: auto;
    border: transparent;
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 1px 5px grey;
    margin: 3%;
}

.popular_text {
    display: flex;
    flex-direction: column;
    line-height: 100%;
    justify-content: space-between;
    margin-bottom: 5%;
    width: 50%;
}

.popular_image {

    align-self: center;
    border: transparent;
    border-radius: 20px 0 0 20px;
    width: 40%;
    height: 120px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 1%;

}

.popular_ratings {
    color: #0065fc;
    text-align:justify;
}

/*
** ---------- IMAGES ----------
*/

#id_1 {
    background-image: url("./resources/images/hebergements/3_medium/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
}

#id_2 {
    background-image: url("./resources/images/hebergements/3_medium/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
}

#id_3 {
    background-image: url("./resources/images/hebergements/3_medium/reisetopia-B8WIgxA_PFU-unsplash.jpg");
}

#id_4 {
    background-image: url("./resources/images/hebergements/3_medium/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
}

#id_5 {
    background-image: url("./resources/images/hebergements/3_medium/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
}

#id_6 {
    background-image: url("./resources/images/hebergements/3_medium/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
}

#id_7 {
    background-image: url("./resources/images/hebergements/3_medium/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
}

#id_8 {
    background-image: url("./resources/images/hebergements/3_medium/aw-creative-VGs8z60yT2c-unsplash.jpg");
}

#id_9 {
    background-image: url("./resources/images/hebergements/3_medium/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
}

#id_10{
    background-image: url("./resources/images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
}

#id_11 {
    background-image: url("./resources/images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
}

#id_12 {
    background-image: url("./resources/images/activites/3_medium/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
}

#id_13 {
    background-image: url("./resources/images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
}

#id_14 {
    background-image: url("./resources/images/activites/3_medium/florian-wehde-xW9e8gdotxI-unsplash.jpg");
}

#id_15 {
    background-image: url("./resources/images/activites/3_medium/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
}

/*
** ------------- ACTIVITIES -------------
*/ 

#activities {
    display: flex;
    border-radius: 5%;
    flex-direction: column;
    width: 100%;
    margin-bottom: 3%;
}

#activity_elements {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.activity_pattern {
    display: flex;
    flex-direction: column;
    width:100%;
    justify-content: center;
}

.activity_suggestion {
    display: flex;
    flex-direction: column;
    border: transparent;
    border-radius: 20px;
    background-color: white;
    box-shadow: 3px 3px 5px grey;
    margin-top: 3%;
    line-height: 0%;
    width: 100%;
}

.activity_description {
    padding: 5%;
}

.alone {
    width: 80%;
    align-self: center;
}

.column_image, .alone_image {
    align-self: center;
    border: transparent;
    border-radius: 20px 20px 0 0;
    width: 99%;
    height: 120px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.column {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.column .activity_suggestion {
    width: 45%;
}

/*
** ------------- FOOTER -------------
*/

footer {
    display: flex;
    flex-direction: row;
    background-color: #f2f2f2;
    height: 100%;
    padding-left: 5%;
    
}

footer > section {
    margin-right: auto;
}

